<h1 class="text-3xl font-bold underline">JSON Key Value Visualizer MVP</h1>
<h2 class="text-2xl font-bold my-2">Input JSON</h2>
<div class="flex flew-row w-max">
  <div class="max-w-sm">
    <input type="file" accept="application/JSON" id="input-file" (change)="onChange($event)" />
    <ng-container *ngIf="isValid(resultDataValue) && displayData.length > 0">
      <h2 class="text-2xl font-bold my-2">Result</h2>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="initateDownload()">
        Download Result
      </button>
    </ng-container>
  </div>
  <ng-container *ngIf="isValid(resultDataValue) && displayData.length > 0">
    <div class="flex flex-col max-w-7xl">
      <h2 class="text-1xl font-bold underline my-2">Group Navigation</h2>
      Group {{ groupIndex + 1 }} of {{ displayData.length }}
      <div class="inline-flex">
        <button
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
          *ngIf="groupIndex > 0"
          (click)="decrementGroupNavigation()"
        >
          Prev
        </button>
        <button
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
          *ngIf="groupIndex + 1 < displayData.length"
          (click)="incrementGroupNavigation()"
        >
          Next
        </button>
      </div>
      <app-data-visualization
        [key]="groupKey"
        [value]="resultDataValue[groupKey]"
        (dataChangeGroup)="removeGroupByKey($event)"
        (dataChangeItem)="removeItemByKey($event)"
      >
      </app-data-visualization>
    </div>
  </ng-container>
</div>
