<h1>JSON Key Value Visualizer MVP</h1>
<h2>Input JSON</h2>
<div *ngIf="inputError">Failed to update: Wrong JSON format!!!</div>
<div class="app-container">
  <textarea
    name="data"
    cols="42"
    rows="20"
    [placeholder]="placeholderValue"
    id="data-input"
    (keyup)="handleDataInputChange($event)"
  ></textarea>
  <ng-container *ngIf="isValid(resultDataValue) && displayData.length > 0">
    <div class="list">
      <h2>Result</h2>
      <button (click)="initateDownload()">Download Result</button>
      <h2>Group Navigation</h2>
      Group {{ groupIndex + 1 }} of {{ displayData.length }}
      <button *ngIf="groupIndex > 0" (click)="decrementGroupNavigation()">Previous group</button>
      <button *ngIf="groupIndex + 1 < displayData.length" (click)="incrementGroupNavigation()">Next group</button>
      <app-data-visualization
        [key]="groupKey"
        [value]="resultDataValue[groupKey]"
        (dataChangeGroup)="removeGroupByKey($event)"
        (dataChangeItem)="removeItemByKey($event)"
      >
      </app-data-visualization>
    </div>
  </ng-container>
</div>
